node_modules
altv-server
resources
.vscode
.idea/
*.dll
*.exe
update.json
modules/
data/
*.log
cache/
crashdumps/
package-lock.json
server.log
webview/*
webview/yarn.lock
src/core/client/webview/*
!src/core/client/webview/.gitkeep
.env