node_modules
altv-server
resources/freeroam/*
.vscode
.idea/
*.dll
*.exe
update.json
modules/
data/
*.log
cache/
crashdumps/
package-lock.json
server.log
webview/*
webview/yarn.lock
src/client/webview/*
!src/client/webview/.gitkeep
!resources/freeroam/.gitkeep
.env